<!-- sidebar.component.html -->
<div class="sidebar">
    <div class="logo">
      <img src="logo.png" alt="Logo" />
    </div>
    <div class="menu">
      <div class="menu-item" *ngFor="let item of menuItems" (mouseenter)="hoveredItem = item.name" (mouseleave)="hoveredItem = ''">
        <i [class]="item.icon" style="color: grey;"></i>
        <div class="hover-line"></div>
        <span class="menu-tooltip" *ngIf="hoveredItem === item.name">{{ item.name }}</span>
      </div>
    </div>
    <div class="profile">
      <i (click)="toggleProfileMenu($event)" class="fas fa-user-circle" style="color: grey"></i>
    </div>
</div>

<!-- Profile Menu Modal -->
<div *ngIf="isProfileMenuOpen" [ngClass]="{'open': !isAnimating, 'close': isAnimating}" class="profile-menu">
    <button class="close-btn" (click)="closeProfileMenu()">❮</button>

    <!-- Header: Logout & Theme Icon -->
    <div class="profile-header">
        <i class="fa-solid fa-right-from-bracket theme-icon" (click)="logout()"></i>
        <i [class]="themeIcon" class="theme-icon" (click)="toggleTheme()"></i>
    </div>

     <!-- User Avatar & Name -->
    <div class="profile-user">
        <div class="avatar-placeholder">
          <img [src]="userDetails.profileImageUrl" alt="profilePicture">
          <i class="fa-solid fa-pen edit-icon"></i></div>
        <div class="username-desg">
          <p class="username">{{ userDetails.firstName }} {{ userDetails.lastName }}</p>
          <p class="desg">{{ userDetails.designation }}</p>
          <p class="batch">{{ userDetails.batch[0] }}</p>
        </div>
    </div>

    <!-- User Details Section -->
    <div class="user-details">
      <p class="info-line">
        <span>{{ userDetails.email }}</span>
        <span class="separator">|</span>
        <span>{{ userDetails.phoneNumber }}</span>
      </p>
      
    </div>
    
    
</div>

<div class="overlay" *ngIf="isLoading">
    <div class="spinner"></div>
</div>